<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>customSites</key>
	<dict>
		<key>0445C3A9-C98D-493C-9EFA-DCF44CE13FE5</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>taobao</string>
			<key>text</key>
			<string>淘宝 search {query}</string>
			<key>url</key>
			<string>http://s.taobao.com/search?oe=utf-8&amp;f=8&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>250358A2-C612-485E-B0C5-00D55DA331B2</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>baidu</string>
			<key>text</key>
			<string>百度一下 {query}</string>
			<key>url</key>
			<string>https://www.baidu.com/s?ie=utf-8&amp;f=8&amp;rsv_bp=1&amp;ch=&amp;tn=baiduerr&amp;bar=&amp;wd={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>3862E1B2-75B2-4609-B3B1-8107370008A9</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jianshu</string>
			<key>text</key>
			<string>简书 search {query}</string>
			<key>url</key>
			<string>http://www.jianshu.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>486C3E91-3608-4F9A-AA3A-6B10224F2E20</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>sof</string>
			<key>text</key>
			<string>stackoverflow search {query}</string>
			<key>url</key>
			<string>http://www.stackoverflow.com/search?q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>582B2CC3-9488-4796-995C-C39046EE1652</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>jd</string>
			<key>text</key>
			<string>京东 search {query}</string>
			<key>url</key>
			<string>https://search.jd.com/Search?keyword={query}&amp;enc=utf-8&amp;wq={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
		<key>B7ABC005-AC9C-47FA-B4C7-5AE93D079C05</key>
		<dict>
			<key>enabled</key>
			<true/>
			<key>keyword</key>
			<string>github</string>
			<key>text</key>
			<string>GitHub search {query}</string>
			<key>url</key>
			<string>https://github.com/search?utf8=%E2%9C%93&amp;q={query}</string>
			<key>utf8</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
